/* Apartado grupos */
.RowContenido{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.CardGrupos{
    overflow: hidden;
    background-color: rgb(var(--base-100));
}

.HeaderCard{
    height: 80%;
    display: flex;
    justify-content: center;
}

.BodyCard{   
    height: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.TitleHomeOptions{
    font-size: 1.72rem;
    font-weight: 500;
}