.RowContenido{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.CardGrupos{
    overflow: hidden;
    background-color: rgb(var(--conifer-100));
}

.GruposBodyCard{
    width: 100%;
    display: flex;
    justify-content: center;
}

.GruposName{
    font-size: 2rem;
}