.head{
    margin-bottom: 1.25rem;
}

.homeTittle{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2.5rem;
    font-weight: 600;
}

.imageContainer{
    height: 100px;
    display: flex;
    justify-content: center;

    & img.logoSchool {
        height: 100%;
        width: auto;
        display: block;
    }
}

.card{
    width: 22rem;
    background-color: var(--color-surface);
    cursor: pointer;
    transition: scale 0.5s ease;
    box-shadow: var(--card-shadow);
}

.card:hover{
    scale: 1.05;
}

.cardBody{
    width: 100%;
    height: 8.5rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.cardInfo{
    display: flex;
    flex-direction: column;
    flex: 3;

    & span:first-child{
        font-size: 1.5rem;
        font-weight: 600;
        flex: 1;
    }

    & span:last-child{
        font-size: 0.9rem;
        font-weight: 200;
        flex: 3;
    }
}

.cardIcon {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    & .iconBg {
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
        scale: 2.25;
        border-radius: 25%;
        padding: 5px;
    }
}

@media(max-width: 768px){
    .homeTittle{
        text-align: center;
    }
}

@media(max-width: 576px){
    .imageContainer{
        height: 80px;
        width: 100%;
    }
}
