.headerHome{
    display: flex;
    text-align: center;
    color: rgb(0,0,0);
    align-items: center;
    height: 3rem;
    background-color: rgb(var(--base-300));
}

.headerMainRow{
    width: 100%;
}

.headerCol{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerBtnUser{
    color: var(--accent-active);
    cursor: pointer;
    transition: color 0.3s ease;
}

.headerBtnUser:hover{
    color: rgb(250,250,250);
}

.headerColButtonUser{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.headerColBackArrow{
    display: flex;
    align-items: center;
}

.headerIconContainer{
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.headerUserOptions{
    list-style: none;
    margin: 0;
    width: 100%;
}

.headerUserOptions > li {
    margin-top: 3px;
    margin-bottom: 3px;
}

.headerMenuUser{
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerButtonOptions{
    background-color: rgb(var(--base-600));
    color: rgb(255, 255, 255);
    font-size: large;
}

.iconMain{
    cursor:pointer;
    color: rgb(var(--base-800));
    fill: currentColor;
}