.main-menu{
    font-size: 1rem;
    text-align: center;
    font-family: 'Inter';
    font-weight: 500;
    color:rgb(255,255,255);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

/** Cada <li> de la lista de items del NavbarComponent */
.ant-menu-item, .ant-menu-submenu-title{
    height:2.8rem !important;
    padding-left: 1rem !important;
    display: flex !important;
    align-items: center !important;
}

.Menu-Icon{
    flex-shrink: 0;
}

.Navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.Btn-Menu{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.BtnMenu-Text{
    display: inline-block;
    color: rgb(220, 220, 220);
    font-family: 'Inter';
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.Close{
    display: none;
}

