.main-menu{
    font-size: 16px;
    text-align: center;
    font-family: 'Inter';
    font-weight: 500;
    color:rgb(255,255,255);
}

.main-menu .ant-menu-item .ant-menu-submenu{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    padding: auto auto auto auto !important;
}

.main-menu .ant-menu-item-divider{  
    background-color: rgb(255, 255, 255) !important; /* Cambia el color del divider */
    height: 1px; 
}

