.custom-footer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 56%;
}



@media(max-width: 576px){
    .custom-footer{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .buttons{
        width: 60%;
        justify-content: space-around;
    }
}