.CardMenu{
    height: 22rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--conifer-100));
}

.ant-card-body{
    flex:1;
    padding: 20px !important;
}

/* Apartado divisiones */
.CardDivisiones{
    height: 22rem;
    overflow: hidden;
    background-color: rgb(var(--conifer-100));
}

/* Apartado grupos */
.CardGrupos{
    overflow: hidden;
    background-color: rgb(var(--conifer-100));
}
