@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

*{
  box-sizing: border-box;
  min-width: 0vh;
  padding: 0px;
}

body {
  font-family: 'Inter' !important;
  font-weight: 100; /* Puede ser cualquier número entre 100 y 900 */
  min-height: 100dvh;
  background-color: rgb(245, 245, 255);
  margin: 0;
}


