.container {
    flex: 1;
}

.first-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.4rem;

    .form-item{
        flex: 1;

        .date-picker {
            width: 100%;
        }
    }
}

.buttons-navigation{
    display: flex;
    justify-content: center;
    gap: 1.4rem;
    margin-top: 1.2rem;
}

@media (max-width: 768px) {

    .first-row{
        flex-direction: column;
        gap: 0px;
    }

}
